body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.controls {
    display: flex;
    gap: 12px;
    justify-content: center;
}


canvas {
    width: 400px;
    height: 400px;
    background: #020617;
    border-radius: 50%;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #38bdf8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}
